@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --HEADER-BG-COLOR: brown;
    --NAV-COLOR: hsl(0, 59%, 60%);
    --NAV-PADDING: 0.25rem 0.25rem;
}
html{
    font-size: 1.5rem;
    scroll-behavior: smooth;
    font-family: 'Rubik Bubbles', cursive;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    color: black;
    text-shadow: 2px 2px 4px black;
    background-color: #475569;
    background-image: radial-gradient( whitesmoke, #475569);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
header{
    background-color: var(--HEADER-BG-COLOR);
    position: sticky;
    top:0;
    padding: 2px; 
    /* height: 10rem; */
}
.header-title-line{
    padding: var(--NAV-PADDING);
    display:flex;
    /* margin-top: 0px; */
    flex-flow: row nowrap;
    justify-content: space-between;
}
h2{
    padding-top: 0px;
    color: whitesmoke;
    display: block;
    font-size: min(1.5rem, 15vw);
}
.menu-button{
    background-color: transparent;
    display: flex;
    float: right;
    justify-content: center;
    border: none;
    align-items: center;
    position: relative;
    margin-right: 50px;
}
#menu-icon, #menu-icon::before, #menu-icon::after{
    color: white;
    font-size: 2rem;
    position: absolute;
    transition: all 0.5s;

}

:is(header:hover, header:focus-within) .menu-icon{
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    background-color: transparent;
    /* transform: ; */
}

:is(header:hover, header:focus-within) nav{
    display: block;
    /* transform: ; */
}

nav{
    display: none;
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out forwards;
}

@keyframes showMenu {
    0%{
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.2);
    }
    100%{
        transform: scaleY(1);
    }
}

main{
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: papayawhip;
    gap: 1rem;
}
.box{
    display: grid;
    grid-template-columns: repeat(1, 300px, 300px);
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    padding: 50px;
    transition: all, 2s, ease, 0.5s;
}

.box:first-child{
    /* transform: translate(-50%,50%); */
    background-color: dodgerblue;
    /* transform: rotateY(90deg); */
}
.box:nth-child(even){
    /* z-index: 1; */
    background-color: whitesmoke;
    /* transform: translateZ(45deg); */
}
.box:last-child{
    /* transform: translate(50%, -50%);
    z-index: 1; */
    background-color: red;
    /* transform: skew(20deg, 20deg); */
}

.box:last-child:hover{
    transform: rotateX(180deg);
}
.box:nth-child(even):hover{
    transform: translate(50%, 0%);
}
.box:first-child:hover{
    transform: translate(50%, 0%);
    transform: rotate(180deg);
}

.animate{
    animation: 5s ease-in-out 0s 2 normal forwards slide;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(600px) rotate(3600deg);
    }
    66%{
        transform: translateX(-600px) rotate(-600deg);
    }
    100%{
        transform: translateX(0);
        background-color:darkgreen
    }
}

footer{
    display: none;
/*     
    position: sticky;
    bottom:0px;
    background-color: brown; */
}
ul li{
    display:flex;
    flex-flow: column;
    gap: 0.2rem;
    max-height: 10vh;
    width: 99.9vw;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
    /* background-color: var(--NAV-COLOR); */
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;

}

nav li{
    padding: 0.2rem;
    border-top: 1px solid white;
    justify-content: space-around;
}
nav a{
    display: block;
    text-align: center;
    width: 80%;
    text-decoration: none;
    margin: auto; 
}
nav a:any-link{
    color: white;
}

nav a:hover, nav a:focus{
    transform: scale(1.2);
    transform: all 0.3s;
}